

<div class="aborigine-block">

	<div class="aborigine-featured-header">
		<div class="aborigine-headers">
<!-- 			<h3 class="text-center">Featured this month:</h3> -->
			<h4 class="typed-element"></h4>
		</div>
	</div>

	<div class="aborigine-featured-content" aborigine-links>

	<div class="aborigine-slider" id="slider">
			<div class="aborigine-slide">
				<img src="/imgs/aborigine-1.jpg">
			</div>
			<div class="aborigine-slide">
				<img src="/imgs/aborigine-2.jpg">
			</div>
			<div class="aborigine-slide">
				<img src="/imgs/aborigine-3.jpg">
			</div>
			<div class="aborigine-slide">
				<img src="/imgs/aborigine-4.jpg">
			</div>
		</div>

		<div class="aborigine-details">
			<ul>
				<a target="_self" href="/files/aborigine-tour-itinerary.pdf" download="itinerary.pdf"><li>Download itinerary</li></a>
				<li id="booking">Book a date</li>
					<div class="aborigine-booking row">
						Pick a date, leave your contact info, and maybe payment as well?
					</div>
				<li id="read-more">Read more</li>
					<div class="aborigine-more clear-both">
						<p>Aborigines have been living in Taiwan for 8,000 years and have built an exuberant history and culture. We are working diligently with local aborigines to create exciting tours that are fully immersed into their culture.</p>
						<br/>
						<p>If you are interested, please log in and sign up for specific dates. Due to housing restraints, there will be a non-refundable 50% fee. We will offer different programs each month and will continue to work with different tribes to open up more events.</p>
					</div>
			</ul>
		</div>

	</div>
	
	
	


	
</div>







