
<div class="video-visible">
	
	<div class="hero-overlay" bg-video>
		<div class="hero-heading">
			<h1>Discover the hidden formosa - the true gem of Asia.<br> <a class="hero-btn" ui-sref="map">Browse Map</a></h1>
		</div>
	</div>

	<div class="video-container">
		<video autoplay loop class="fill-width">
			<source src="../vids/v2.mp4" type="video/mp4"/>
			Your browser does not support the video tag. I suggest you upgrade your browser.
		</video>
	</div>
</div>

<!-- http://benkaminski.com/2013/05/26/responsive-html5-css3-video-background-in-div-no-javascript/ -->