
<div id="map" class="map"></div>



<!-- <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
     <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
     <label id="names" >{{marker.title}}</label></a>
</div> -->





<!-- <ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control'>

	<ui-gmap-markers models="map.markers" idKey="'id'" coords="'self'" events="map.markersEvents">
		
		<ui-gmap-window 
		show="map.window.show"
		coords="map.window.model"
		closeClick="map.window.closeClick()"
		options="map.window.options"
		templateParameter="map.window.model"
		ng-cloak>
			<div ng-non-bindable><a href="">{{map.markers.title}}</a> </div>
		</ui-gmap-window>

	</ui-gmap-markers>

</ui-gmap-google-map> -->

<!-- AIzaSyCsqYtqP6HTmQo_GB73edTDfCqaAUi2ixA -->