
<div class="attractions-filter">
	<ul class="attractions-filter-list">
		<li>
			<input type="radio" id="all" name="attractions-filter" value="all" ng-model="categoryFilter">
			<label for="all">All</label>
		</li>
		<li>
			<input type="radio" id="nightmarkets" name="attractions-filter" value="Nightmarket" ng-model="categoryFilter">
			<label for="nightmarkets">Nightmarkets</label>
		</li>
		<li>
			<input type="radio" id="nightlife" name="attractions-filter" value="Nightlife" ng-model="categoryFilter">
			<label for="nightlife">Night Life</label>
		</li>
		<li>
			<input type="radio" id="temples" name="attractions-filter" value="Temple" ng-model="categoryFilter">
			<label for="temples">Temples</label>
		</li>
		<li>
			<input type="radio" id="museums" name="attractions-filter" value="Museum" ng-model="categoryFilter">
			<label for="museums">Museums</label>
		</li>
		<li>
			<input type="radio" id="hiking" name="attractions-filter" value="Hikes" ng-model="categoryFilter">
			<label for="hiking">Mountain Hiking</label>
		</li>
		<li>
			<input type="radio" id="shopping" name="attractions-filter" value="Shopping" ng-model="categoryFilter">
			<label for="shopping">Shopping</label>
		</li>
		<li>
			<input type="radio" id="parknature" name="attractions-filter" value="ParksNatureZoos" ng-model="categoryFilter">
			<label for="parknature">Park/Nature/Zoo</label>
		</li>
		<li>
			<input type="radio" id="attractions" name="attractions-filter" value="Attraction" ng-model="categoryFilter">
			<label for="attractions">Famous Attractions</label>
		</li>
	</ul>
</div>

<div class="clear-both"></div>

<div class="database-map-wrapper" map-directive>
	
	<div class="details-container">
		<div class="attraction-header">
			<h2>{{attraction.nameEnglish}}</h2>
		</div>
		<div class="attraction-details">
			<p>{{attraction.details}}</p>
		</div>
	</div>

	<div class="database-container" id="db-waypoint">
		<div class="database-list" ng-repeat="marker in markers | orderBy:'title'" ng-click="openInfoWindow($event, marker)">
			<a class="database-attraction" id="{{marker.id}}" ng-show="marker.category == categoryFilter || categoryFilter == 'all'"><label id="names">{{marker.title}}</label></a>
		</div>
	</div>
	
	<div class="map-container">
		<div id="map" class="map"></div>
		<a href="" class="details-open">More</a>
	</div>
	

</div>




<div class="attractions-wrapper row" >
	
	
	


</div>







<!-- <ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control'>

	<ui-gmap-markers models="map.markers" idKey="'id'" coords="'self'" events="map.markersEvents">
		
		<ui-gmap-window 
		show="map.window.show"
		coords="map.window.model"
		closeClick="map.window.closeClick()"
		options="map.window.options"
		templateParameter="map.window.model"
		ng-cloak>
			<div ng-non-bindable><a href="">{{map.markers.title}}</a> </div>
		</ui-gmap-window>

	</ui-gmap-markers>

</ui-gmap-google-map> -->

<!-- AIzaSyCsqYtqP6HTmQo_GB73edTDfCqaAUi2ixA -->