<!-- 
<div class="attractions-filter">
	<ul class="attractions-filter-list">
		<li>
			<input type="radio" id="allDistricts" name="taipei-filter" value="allDistricts" ng-model="districtFilter">
			<label for="allDistricts">All Districts</label>
		</li>
		<li>
			<input type="radio" id="Zhongshan" name="taipei-filter" value="Zhongshan" ng-model="districtFilter">
			<label for="Zhongshan">Zhongshan</label>
		</li>
		<li>
			<input type="radio" id="Songshan" name="taipei-filter" value="Songshan" ng-model="districtFilter">
			<label for="Songshan">Songshan</label>
		</li>
		<li>
			<input type="radio" id="Daan" name="taipei-filter" value="Daan" ng-model="districtFilter">
			<label for="Daan">Daan</label>
		</li>
		<li>
			<input type="radio" id="Zhongzhen" name="taipei-filter" value="Zhongzhen" ng-model="districtFilter">
			<label for="Zhongzhen">Zhongzhen</label>
		</li>
		<li>
			<input type="radio" id="Wenshan" name="taipei-filter" value="Wenshan" ng-model="districtFilter">
			<label for="Wenshan">Wenshan</label>
		</li>
		<li>
			<input type="radio" id="Shilin" name="taipei-filter" value="Shilin" ng-model="districtFilter">
			<label for="Shilin">Shilin</label>
		</li>
		<li>
			<input type="radio" id="Xinyi" name="taipei-filter" value="Xinyi" ng-model="districtFilter">
			<label for="Xinyi">Xinyi</label>
		</li>
		<li>
			<input type="radio" id="Datong" name="taipei-filter" value="Datong" ng-model="districtFilter">
			<label for="Datong">Datong</label>
		</li>
		<li>
			<input type="radio" id="Beitou" name="taipei-filter" value="Beitou" ng-model="districtFilter">
			<label for="Beitou">Beitou</label>
		</li>
		<li>
			<input type="radio" id="Jinshan" name="taipei-filter" value="Jinshan" ng-model="districtFilter">
			<label for="Jinshan">Jinshan</label>
		</li>
		<li>
			<input type="radio" id="Banqiao" name="taipei-filter" value="Banqiao" ng-model="districtFilter">
			<label for="Banqiao">Banqiao</label>
		</li>
		<li>
			<input type="radio" id="Sanzhi" name="taipei-filter" value="Sanzhi" ng-model="districtFilter">
			<label for="Sanzhi">Sanzhi</label>
		</li>
	</ul>
</div> -->

<div class="attractions-filter">
	<ul class="attractions-filter-list">
		<li>
			<input type="radio" id="all" name="attractions-filter" value="all" ng-model="categoryFilter">
			<label for="all">All</label>
		</li>
		<li>
			<input type="radio" id="nightmarkets" name="attractions-filter" value="Nightmarket" ng-model="categoryFilter">
			<label for="nightmarkets">Nightmarkets</label>
		</li>
		<li>
			<input type="radio" id="nightlife" name="attractions-filter" value="Nightlife" ng-model="categoryFilter">
			<label for="nightlife">Night Life</label>
		</li>
		<li>
			<input type="radio" id="temples" name="attractions-filter" value="Temple" ng-model="categoryFilter">
			<label for="temples">Temples</label>
		</li>
		<li>
			<input type="radio" id="museums" name="attractions-filter" value="Museum" ng-model="categoryFilter">
			<label for="museums">Museums</label>
		</li>
		<li>
			<input type="radio" id="hiking" name="attractions-filter" value="Hikes" ng-model="categoryFilter">
			<label for="hiking">Mountain Hiking</label>
		</li>
		<li>
			<input type="radio" id="shopping" name="attractions-filter" value="Shopping" ng-model="categoryFilter">
			<label for="shopping">Shopping</label>
		</li>
		<li>
			<input type="radio" id="parknature" name="attractions-filter" value="ParkNatureZoo" ng-model="categoryFilter">
			<label for="parknature">Park/Nature/Zoo</label>
		</li>
		<li>
			<input type="radio" id="attractions" name="attractions-filter" value="Attraction" ng-model="categoryFilter">
			<label for="attractions">Famous Attractions</label>
		</li>
	</ul>
</div>

<div class="clear-both"></div>

<div class="database-map-wrapper">
	
<!-- <a href="" class="details-toggle">More</a> -->

	<div class="details-container">
		<div class="attraction-header">
			<h2>{{attraction.nameEnglish}}</h2>
		</div>
		<div class="attraction-details">
			<p>{{attraction.details}}</p>
		</div>
	</div>

	<div class="database-container" id="db-waypoint">
		<div class="database-list" ng-repeat="marker in markers | orderBy:'title'" ng-click="openInfoWindow($event, marker)">
			<a class="database-attraction" id="{{marker.id}}" ng-show="marker.category == categoryFilter || categoryFilter == 'all' || marker.district == districtFilter">
				<label id="names">{{marker.title}}</label>
			</a>
		</div>
	</div>
	
	<div class="map-container">
		<div id="map" class="map"></div>
	</div>

</div>
