<section class="info-section">

	<div class="info-hero-content">
		<p class="long-para info-heading">The Republic of China (Taiwan) was founded in 1912, making it the first democratic republic country in Asia. In 1949, the government moved to Taiwan and maintained jurisdiction over an area encompassing the islands of Taiwan, Penghu, Kinmen, Matsu, Dongsha, Zhongsha, and Nansha.</p>
	</div>

	<div class="content-container">
		<div class="content-block information-block">
			<div class="block-1" zum-waypoint="waypoints" down="first.on" offset="50%" ng-class="{'animated fadeInLeft': waypoints.first.on}">
				<h2>Location</h2>
				<p class="long-para">Taiwan's total land area is about 36,000 square kilometers (14,400 square miles). The land is shaped like a leaf. It lies off the southeastern coast, across the Taiwan Strait, of China. The island is located on the western edge of the Pacific Ocean. Japan is located in the north, Philippines in the south and Hong Kong to the west.</p>
			</div>
		</div>

		<div class="content-block filler">

			<img src="../imgs/location.jpg" alt="img">
		</div>

	</div>

	<div class="content-container clear-both">

		<div class="content-block filler">
			<img src="../imgs/languages.jpg" alt="img">
		</div>

		<div class="content-block information-block">
			<div class="block-2" zum-waypoint="waypoints" down="second.on" offset="50%" ng-class="{'animated fadeInRight': waypoints.second.on}">
				<h2>Languages</h2>
				<p class="long-para">Mandarin is the official language used and spoken in Taiwan. However, many Benshengren speak a dialect of Taiwanese Hokkien (a variant of Minnan speech). There is also a Hakka ethnic group, which composes of about 15% of the population, that speak the Hakka language.</p>
			</div>
		</div>

	</div>



	<div class="history-block clear-both" zum-waypoint="waypoints" down="third.on" offset="30%">
		<div class="block-3" ng-class="{'animated fadeIn': waypoints.third.on}">
			<h2>History</h2>
			<p class="long-para">Taiwan was originally connected to China until sea levels rose around 10,000 years ago. It wasn’t until roughly 8,000 years ago that Austronesians settled in Taiwan, who are now referred to as today’s Taiwanese aborigines. Through different periods of times, the island of Taiwan had many different names from different explorers and rulers. In 1544, Portuguese sailors sighted the island and was enticed by its beauty and named Taiwan – “Ilha Formosa,” which translates to Beautiful Island. In the early 17th century, the Dutch East India Company established a commercial post at Fort Zeelandia (which is now called Anping, Tainan) on a coastal sandbar called Tayuan, which refers to foreigners. The modern word Taiwan is derived from Tayuan, which had a historic transformation from 大員, 大圓, 大灣, 臺員, 臺圓 and 臺窩灣. Tainan, one of the five largest cities located in Taiwan, was the first permanent settlement by western colonists and Chinese immigrants as the most significant trading port. Tainan was also the capital of Taiwan during that time until 1887.
			<br><br>
			During World War II, the Qing Dynasty was defeated in the First Sino-Japanese War in 1894-1895. Taiwan and Penghu were ceded in full sovereignty to the Japanese Empire. During this time, pro-Qing high officials, proclaimed as the Republic of Formosa, resisted against Japanese Rule. However, all resistance and rebellious groups were unsuccessful. Republic of China (ROC) was the official name of the state established in 1912, commonly referred to as Free China. However in 1949, the Nationalist Party, led by Chiang Kai-shek, was defeated in the Chinese Civil War by the Communist Party and fled to Taiwan with over two million people. The Japanese Rule did not end until the end of World War II on October 25th, 1945, and was not fully independent until the Treaty of San Francisco took effect in 1952. The instrument of surrender was handed to the ROC military in Taiwan.
			<br><br>
			The 228 Incident and White Terror are significant periods for Taiwan’s history, <a href="" class="btn-link">read more here</a>.
			<br><br>
			ROC was a member of the UN until 1971 when the People's Republic of China (PRC), the current China, took the seat away. Throughout the years, the name Republic of China has slowly faded and the country is more commonly referred to as Taiwan. During the Olympics, Chinese Taipei was used due to diplomatic reasons with China.</p>
		</div>
	</div>

	<div class="content-container clear-both">
		<div class="content-block information-block">
			<div class="block-4" zum-waypoint="waypoints" down="fourth.on" offset="50%" ng-class="{'animated fadeInLeft': waypoints.fourth.on}">
				<h2>Culture</h2>
				<p class="long-para">The Taiwanese culture is a hybrid mixture from the Taiwanese aborigines, Japanese culture, traditional Confucianist beliefs, Chinese culture and Western values. Culture has been a large part of political status debate on whether Taiwan is a descendant of Chinese culture or a distinct culture. In recent years, Taiwanese multiculturalism has been proposed with a redefined culture standpoint that is different than Asian cultures surrounding Taiwan. Throughout different cities and counties in Taiwan, you will see a radical culture change and language difference from the North (hybrid of Western and Chinese culture), South (hybrid of Japanese and Taiwanese aborigines), East (Taiwanese aborigines) and West (hybrid of Western and Taiwanese aborigines).</p>
			</div>
		</div>

		<div class="content-block filler">
			<img src="../imgs/culture.jpg" alt="img">
		</div>

	</div>

	<div class="content-container clear-both" >
		<div class="content-block filler">
			<img src="../imgs/city.jpg" alt="img">
		</div>
		
		<div class="content-block information-block">
			<div class="block-5" zum-waypoint="waypoints" down="fifth.on" offset="50%" ng-class="{'animated fadeInRight': waypoints.fifth.on}">
				<h2>Cities</h2>
				<p class="long-para">Taipei is the capital of Taiwan, but not the largest population city in Taiwan. The largest population goes from New Taipei City (3,913,595), Kaohsiung City (2,773,855), Taichung City (2,662,770), Taipei City (2,647,122), Taoyuan City (2,056,273), Tainan City (1,883,844), Hsinchu City, Keelung City, Chiayi City and Changhua City as the top 10 largest cities in Taiwan.</p>
			</div>
		</div>

	</div>

</section>