/*
Primary color: #edded9;
darker version: #d5c6c0;


*/

* {
	margin:0;
	padding:0;
}

html,
body {
	background-color:#edded9;
	color:#555;
	font-family:'Lato', 'Arial', sans-serif;
	font-weight:300;
	font-size:20px;
	width:100%;
	height:100%;
	position:relative;
}

.view-container {
	transition: 0.5s all;
	overflow:hidden;
	position:relative;
	z-index:10;
}

.main-wrapper {
	min-height:100%;
	position:relative;
}

.row {
	max-width: 1140px;
	margin:0 auto;
}

.long-para {
	line-height:130%;
	font-weight:400;
	letter-spacing: 1px;
	word-spacing:1px;
}

.clear-both {
	clear:both;
}

/* =========================================================================================== */
/* HEADINGS */
/* =========================================================================================== */
h1,
h2,
h3 {
	margin:0;
	padding:0;
}

h1 {

}

h2 {
	padding-top:10px;
	text-align:center;
	color:#73A096;
	text-transform: uppercase;
	font-weight:300;
	font-size:240%;
}


h3 {
	text-transform: uppercase;
	margin-bottom:15px;
	font-size:160%;
}

h4 {
	font-size:240%;
	font-weight:300;
}


/* =========================================================================================== */
/* ICONS & FONTS & SVGS */
/* =========================================================================================== */
/*.magnify-handle {
	fill:#fafafa;
	transition:0.5s all;
}

.hf-logo:hover .magnify-handle {
	fill:#010101;
}*/

.taiwan {
	fill:#283A82;
	opacity:0;
	stroke-width:3px;
	stroke-dasharray:250;
	stroke-dashoffset:250;
	transition:1.5s all;
}

.nav-logo:hover:after p {
	background-color:blue;
}

.hf-logo:hover .taiwan {
	stroke-dashoffset:0;
	fill:#08A650;
	opacity:1;
}

.red-accents path {
	fill:#fafafa;
	transition:1s all;
}

.hf-logo:hover .red-accents path {
	fill:red;
	transition-delay:.75s;
}

.main-nav .nav-icons {
	position:absolute;
	top:50%;
	font-size:200%;
	color:#BAAEAA;
	opacity:0;
	transform:translate(-50%, -50%) scale3d(0.5, 0.5, 1);
	transition:0.5s all;
}

.main-nav li:hover .nav-icons {
	opacity:1;
	transform:translate(-50%, -50%) scale3d(1, 1, 1);
}

.social-icons {
	font-size:140%;
	text-align: center;
	color:#fff;
	width:100%;
}
/* =========================================================================================== */
/* NAVIGATION */
/* =========================================================================================== */

nav {
	height:130px;
	background-color:#fafafa;
	position:relative;
	z-index:100;
}

.main-nav li:after {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-bottom-color: #BAAEAA;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -20px;
    opacity:0;
}

.main-nav a {
	cursor:pointer;
}

.main-nav a:hover li:after {
	opacity:1;
}

.main-nav li:after {
	transition:all 0.3s;
}

.logo-link {
	margin-top:5px;
	margin-left:20px;
	position:absolute;
	top:0;
	left:0;
	height:110px;
	width:110px;
	z-index:10;
	background-color:(0, 0, 0, 0);
}

.main-nav {
	list-style:none;
	height:100%;
	display:block;
	margin-left:160px;
}

.main-nav > :first-child li {
	border-left:1px solid #edded9;
}

.main-nav li {
	float:left;
	width:120px;
	text-align: center;
	border-right:1px solid #edded9;
	height:100%;
	transition:all 0.3s;
	position:relative;
}

.main-nav li p {
	padding-top:55px;
	color:#222;
	transition:0.5s all;
}

.main-nav li:hover p {
	transform: scale3d(0.5, 0.5, 1);
	opacity:0;
}

.main-nav li:hover {
	background-color:#edded9;
}

.main-nav a::link,
.main-nav a::visited {
	text-decoration: none;
}

.nav-active {
	background-color:#edded9;
}

.social-nav {
	list-style:none;
	display:inline-block;
	cursor:pointer;
	position:fixed;
	top:25%;
	right:0;
	z-index:100;
}

.social-nav #facebook { background:#3b5998; opacity:0.5; }
.social-nav #reddit { background:#CEE3F8; opacity:0.5; }
.social-nav #youtube { background:#C4302B; opacity:0.5; }
.social-nav #twitter { background:#00aced; opacity:0.5; }

.social-nav #facebook:hover,
.social-nav #reddit:hover,
.social-nav #youtube:hover,
.social-nav #twitter:hover { opacity: 1; }

.social-nav li {
	padding:20px 10px;
	transition: 0.5s all;
}

.social-nav a {
	text-align: center;
	vertical-align: middle;
}

.social-nav #facebook:hover {
	
}

/* =========================================================================================== */
/* LOGIN/SIGNUP */
/* =========================================================================================== */

.login-container {
	width:350px;
	display:inline-block;
}

.inputs-container {
	padding:30px 0 30px 30px;
}

.inputs-container input {
	margin-right:5px;
	margin-bottom:5px;
	font-size:90%;
}

input[type=submit] {
	position:absolute;
	display:inline-block;
	padding:6px;
	font-weight:300;
	border: 2px solid #BAAEAA;
	color:#BAAEAA;
	text-decoration:none;
	border-radius:7%;
	transition:all 0.2s;
	background:none;
	margin-top:10px;
}

input[type=submit]:hover {
	background-color:#BAAEAA;
	border: 2px solid #BAAEAA;
	color:#fff;
}

/* =========================================================================================== */
/* ABOUT */
/* =========================================================================================== */

.about-section {

}

.about-content {
	margin:25px 0 15px 0;
	padding:25px 250px 25px 250px;
	position:absolute;
	top:0;
	opacity:0;
	transition:0.5s all;
	z-index:5;
	background-color:#222;
	color:#edded9;
}

.about-activate {
	top:140px;
	opacity:1;
}

/* =========================================================================================== */
/* MAP */
/* =========================================================================================== */

.map {
	margin:50px auto;
	padding:0;
    height:700px; 
    width:1100px;
}

.marker-link {
	text-decoration: none;
	color:#73A096;
	text-transform:uppercase;
	border-bottom: transparent;
	transition:0.3s all;
}

.marker-link:hover {
	border-bottom: 2px solid #73A096;
}

.marker-details {
	padding:10px 0;
	font-size:120%;
}

/*#repeat { 
     display: inline;
}

#country_container { 
     margin: 8px 2px 2px 0px; 
     text-align: center; 
     width: 90px; 
     padding: 5px; 
     color: white; 
     background-color: gray; 
     font-size: 16px; 
     cursor: pointer;
}

#country_container:hover { 
     box-shadow: 0px 0px 10px blue;
     background-color: gray; 
     border: 1px solid gray; 
     cursor: pointer; 
}

#names { 
     cursor: pointer; 
}*/

/* =========================================================================================== */
/* TAIWAN HISTORY */
/* =========================================================================================== */

.info-section{
	background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/sys-memorial.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	height: 80vh;
}

.info-hero-content {
	height:inherit;
}

.info-heading {
	margin:0 auto;
	color:#edded9 !important;
	padding:12% 20%;
}

.info-section p {
	color:#333;
}

.content-container {
}

.content-block {
	display:block;
	width:50%;
	height:50vh;
	background-color:#edded9;
	float:left;
}

.content-block p {
	padding:20px 50px;
	font-size:80%;
	line-height:150%;
}

.history-block {
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imgs/history-bg.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	padding: 200px;
}

.history-block p,
.history-block h2 {
	color:#edded9;
}

.history-block p {
	padding:25px;
	font-size:80%;
	line-height:150%;
}

.history-block h2 {
	margin-top:30px;
	text-align:center;
	text-transform: uppercase;
	font-weight:300;
	font-size:240%;
}

.filler {
	position:relative;
}

.filler img{
	width:100%;
	height:100%;
}

.filler:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.2);
}

/* =========================================================================================== */
/* BLOG */
/* =========================================================================================== */

.blog-section {
	position:relative;
	height:100vh;
}



/* =========================================================================================== */
/* BUTTONS */
/* =========================================================================================== */


/* =========================================================================================== */
/* FOOTER */
/* =========================================================================================== */

footer {
	background:#222;
	height:100px;
	width:100%;
}

footer p {
	color:#edded9;
	text-align: center;
	padding-top:40px;
}


/* =========================================================================================== */
/* ANIMATIONS */
/* =========================================================================================== */

.block-1,
.block-2,
.block-3,
.block-4,
.block-5 {
	opacity:0;
}

.block-1.animated,
.block-2.animated,
.block-3.animated,
.block-4.animated,
.block-5.animated {
	opacity:1;
}