/*
Primary color: #edded9;
darker version: #d5c6c0;


*/

* {
	margin:0;
	padding:0;
}

html,
body {
	background-color:#edded9;
	color:#555;
	font-family:'Lato', 'Arial', sans-serif;
	font-weight:300;
	font-size:20px;
	width:100%;
	height:100%;
	position:relative;
}

.view-container {
	transition: 0.5s all;
	overflow:hidden;
	position:relative;
	z-index:10;
}

a {
	text-decoration: none;
}

.main-wrapper {
	min-height:100%;
	position:relative;
}

.row {
	max-width: 1140px;
	margin:0 auto;
}

.long-para {
	line-height:130%;
	font-weight:400;
	letter-spacing: 1px;
	word-spacing:1px;
}

.clear-both {
	clear:both;
}

/* =========================================================================================== */
/* HEADINGS */
/* =========================================================================================== */
h1,
h2,
h3,
h4,
h5 {
	margin:0;
	padding:0;
}

h1 {
	text-align:center;
	color:#fafafa;
	font-weight:300;
}

h2 {
	padding:10px 0;
	text-align:center;
	color:#73A096;
	text-transform: uppercase;
	font-weight:300;
	font-size:240%;
}


h3 {
	text-transform: uppercase;
	margin-bottom:15px;
	font-size:160%;
}

h4 {
	font-size:240%;
	font-weight:300;
}

h5 {
	font-style:italic;
}


/* =========================================================================================== */
/* ICONS & FONTS & SVGS */
/* =========================================================================================== */
/*.magnify-handle {
	fill:#fafafa;
	transition:0.5s all;
}

.hf-logo:hover .magnify-handle {
	fill:#010101;
}*/

.taiwan {
	fill:#283A82;
	opacity:0;
	stroke-width:3px;
	stroke-dasharray:250;
	stroke-dashoffset:250;
	transition:1.5s all;
}

.nav-logo:hover:after p {
	background-color:blue;
}

.hf-logo:hover .taiwan {
	stroke-dashoffset:0;
	fill:#08A650;
	opacity:1;
}

.red-accents path {
	fill:#fafafa;
	transition:1s all;
}

.hf-logo:hover .red-accents path {
	fill:red;
	transition-delay:.75s;
}

.main-nav .nav-icons {
	position:absolute;
	top:50%;
	font-size:200%;
	color:#BAAEAA;
	opacity:0;
	transform:translate(-50%, -50%) scale3d(0.5, 0.5, 1);
	transition:0.5s all;
}

.main-nav li:hover .nav-icons {
	opacity:1;
	transform:translate(-50%, -50%) scale3d(1, 1, 1);
}

.social-icons {
	font-size:140%;
	text-align: center;
	color:#fff;
	width:100%;
}

.blog-icon {
	font-size:180%;
	color:#222;
	transition:0.2s all;
}

.blog-icon:hover {
	color:#08A650;
}

/* =========================================================================================== */
/* NAVIGATION */
/* =========================================================================================== */

nav {
	height:130px;
	background-color:#fafafa;
	position:relative;
	z-index:100;
}

.main-nav li:after {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-bottom-color: #BAAEAA;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -20px;
    opacity:0;
}

.main-nav a {
	cursor:pointer;
}

.main-nav a:hover li:after {
	opacity:1;
}

.main-nav li:after {
	transition:all 0.3s;
}

.logo-link {
	margin-top:5px;
	margin-left:20px;
	position:absolute;
	top:0;
	left:0;
	height:110px;
	width:110px;
	z-index:10;
	background-color:(0, 0, 0, 0);
}

.main-nav {
	list-style:none;
	height:100%;
	display:block;
	margin-left:160px;
}

.main-nav > :first-child li {
	border-left:1px solid #edded9;
}

.main-nav li {
	float:left;
	width:120px;
	text-align: center;
	border-right:1px solid #edded9;
	height:100%;
	transition:all 0.3s;
	position:relative;
}

.main-nav li p {
	padding-top:55px;
	color:#222;
	transition:0.5s all;
}

.main-nav li:hover p {
	transform: scale3d(0.5, 0.5, 1);
	opacity:0;
}

.main-nav li:hover {
	background-color:#edded9;
}

.main-nav a::link,
.main-nav a::visited {
	text-decoration: none;
}

.nav-active {
	background-color:#edded9;
}

.social-nav {
	list-style:none;
	display:inline-block;
	cursor:pointer;
	position:fixed;
	top:25%;
	right:0;
	z-index:100;
}

.social-nav #facebook { background:#3b5998; opacity:0.5; }
.social-nav #reddit { background:#CEE3F8; opacity:0.5; }
.social-nav #youtube { background:#C4302B; opacity:0.5; }
.social-nav #twitter { background:#00aced; opacity:0.5; }

.social-nav #facebook:hover,
.social-nav #reddit:hover,
.social-nav #youtube:hover,
.social-nav #twitter:hover { opacity: 1; }

.social-nav li {
	padding:20px 10px;
	transition: 0.5s all;
}

.social-nav a {
	text-align: center;
	vertical-align: middle;
}

/* =========================================================================================== */
/* LOGIN/SIGNUP */
/* =========================================================================================== */

.login-signup-wrapper {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	z-index:1000;
	background:rgba(0, 0, 0, 0.8);
}

.form-container {
	position:absolute;
	width:50%;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	padding:100px;
	border-radius:10px;
	display:none;
}

.form-active {
	display:block;
}

label,
.account-para {
	font-size:110%;
	color:#BAAEAA;
	font-weight:300;
}

input[type=email],
input[type=password] {
	width:100%;
	padding:5px;
	border-radius:3px;
	margin-bottom:10px;
}

input[type=submit] {
	display:inline-block;
	padding:8px;
	font-weight:300;
	border: 2px solid #BAAEAA;
	color:#BAAEAA;
	text-decoration:none;
	transition:all 0.2s;
	background:none;
	float:right;
}

input[type=submit]:hover {
	background-color:#BAAEAA;
	border: 2px solid #BAAEAA;
	color:#fff;
}

.btn-home {
	text-decoration: none;
	color:#fff;
	border:1px solid #fff;
	padding:5px;
	border-radius:1px;
	float:right;
	transition:all 0.2s;
}

.btn-home:hover {
	background:#fff;
	color:#222;
}

.btn-link {
	cursor:pointer;
	color:#fff;
	border-bottom:transparent;
	padding:5px;
	transition:all 0.5s;
}

.btn-link:hover {
	border-bottom:1px solid #fff;
}

/* =========================================================================================== */
/* ABOUT */
/* =========================================================================================== */

.about-section {

}

.about-content {
	margin:25px 0 15px 0;
	padding:25px 250px 25px 250px;
	position:absolute;
	top:0;
	opacity:0;
	transition:0.5s all;
	z-index:5;
	background-color:#222;
	color:#edded9;
}

.about-activate {
	top:140px;
	opacity:1;
}

/* =========================================================================================== */
/* HOME */
/* =========================================================================================== */
.hero-overlay {
	position:absolute;
	top:0%;
	left:0%;
	height:inherit;
	width:100%;
	background:rgba(0, 0, 0, 0.5);
	z-index:100;
}

.hero-heading {
	position:absolute;
	top:35%;
	left:50%;
	transform:translate(-50%, -50%);
	width:100%;
}

.hero-heading h1 {
	font-weight:400;
}

.hero-btn {
	text-decoration:none;
	line-height:200%;
	padding:5px 10px;
	color:#222;
	border:1px solid transparent;
	border-radius:50px;
	background:#edded9;
	font-size:80%;
	transition:0.2s all;
}

.hero-btn:hover {
	background:#d5c6c0;
}

.video-visible {
	height: 750px;
	position: relative;
}

.video-container {
	position: absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}

.fill-width {
	position:absolute;
	top:-50px;
	z-index:-100;
	width: 100%;
}


/* =========================================================================================== */
/* MAP */
/* =========================================================================================== */

.database-map-wrapper {
	margin:0 auto;
	padding:0;
	width:1200px;
	height:900px;
	position:relative;
}

.map-container {
	position:relative;
	width:900px;
	float:right;
}

.map {
	margin:0;
	margin-bottom:50px;
	padding:0;
    height:600px; 
    width:900px;
}

.marker-heading {
	text-decoration: none;
	color:#73A096;
	text-transform:uppercase;
	border-bottom: transparent;
	width:300px;
	transition:0.3s all;
}

.marker-details {
	padding:10px 20px 0 0;
	font-size:120%;
}

.attractions-filter {
	height:50px;
	margin:50px auto 0 auto;
	width:1200px;
}

.attractions-filter-list {
	list-style:none;
	margin-left:4%;
}

.attractions-filter-list li {
	float:left;
	padding-left:10px;
}

.attractions-filter-list input[type="radio"] {
    display:none; 
}

.attractions-filter-list label {
    display:inline-block;
    background-color:#ddd;
    padding:5px 10px;
    font-size:90%;
    color:#222;
   	cursor:pointer;
}

.attractions-filter-list input[type="radio"]:checked + label { 
    background-color:#bbb;
}

.database-container {
	display:inline-block;
	width:300px;
	float:left;
	height:900px;
	background:rgba(0, 0, 0, 0.3);
}

.details-container {
	position:relative;
	z-index:-1;
	display:inline-block;
	width:900px;
	padding:0;
	margin:0;
}

.attraction-details {
	height:220px;
	background:#fff;
}

.attraction-details p {
	padding:10px;
}

.database-list {
	width:100%;
	cursor:pointer;
}

.attraction-header {
	height:80px;
	background:white;
}

.database-attraction {  
	text-align: center; 
	font-size:90%;
	width: 100%;
	padding: 5px; 
	color: white;
	cursor: pointer;
}

.database-list:hover #names:before {
	border-left: 10px solid #08A650;
}

#names { 
	cursor: pointer;
	color:#222;
}

#names:before {
	content:' ';
	position:absolute;
	margin-top:3px;
	margin-left:-14px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
}

.details-toggle {
	position:absolute;
	top:10px;
	left:310px;
	z-index:5;
}

/* =========================================================================================== */
/* TAIWAN HISTORY */
/* =========================================================================================== */

.info-section{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/sys-memorial.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	height: 80vh;
}

.info-content {
	height:inherit;
}

.info-heading {
	margin:0 auto;
	color:#edded9 !important;
	padding:12% 20%;
}

.info-section p {
	color:#333;
}

.content-block {
	display:block;
	width:50%;
	height:50vh;
	background-color:#edded9;
	float:left;
}

.content-block p {
	padding:20px 50px;
	font-size:80%;
	line-height:150%;
}

.history-block {
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imgs/history-bg.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	padding: 200px;
}

.history-block p,
.history-block h2 {
	color:#edded9;
}

.history-block p {
	padding:25px;
	font-size:80%;
	line-height:150%;
}

.history-block h2 {
	margin-top:30px;
	text-align:center;
	text-transform: uppercase;
	font-weight:300;
	font-size:240%;
}

.filler {
	position:relative;
}

.filler img{
	width:100%;
	height:100%;
}

.filler:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.2);
}

/* =========================================================================================== */
/* BLOG */
/* =========================================================================================== */

.blog-header {
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/blog-heading.jpg);
	background-position:center;
	background-size:cover;
	height:400px;
	position:relative;
}

.blog-header h1 {
	font-weight:800;
	font-size:350%;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.blog-header h1:after {
	display:block;
	height:4px;
	background-color:#08A650;
	content:" ";
	width:100px;
	margin: 15px auto;
}

.blog-row {
	max-width:800px;
	margin:0 auto;
}

.blog-title {
	margin:50px 0;
}

.blog-title h5 {
	margin-top:15px;
}

hr {
	color:#08A650;
}

.blog-link {
	text-decoration:none;
	color:#222;
	transition:0.2s all;
}

.blog-link:hover {
	color:#08A650;
}

.blog-section {
	position:relative;
	height:auto;
}

.blog-content-container {
	position:relative;
	width:800px;
	margin:50px auto;
}

.blog-container,
.blog-content-container {
	transition: 1s all;
}

.blog-return {
	position:absolute;
}

.blog-content {
	line-height:1.5;
	width:600px;
	margin: 0 auto;
	font-size:110%;
	font-weight:400;
}

/* =========================================================================================== */
/* FOOTER */
/* =========================================================================================== */

footer {
	background:#222;
	height:100px;
	width:100%;
}

footer p {
	color:#edded9;
	text-align: center;
	padding-top:40px;
}

/* =========================================================================================== */
/* ANIMATIONS */
/* =========================================================================================== */

.block-1,
.block-2,
.block-3,
.block-4,
.block-5 {
	opacity:0;
}

.block-1.animated,
.block-2.animated,
.block-3.animated,
.block-4.animated,
.block-5.animated {
	opacity:1;
}